* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS-Variablen für Farben definieren */
:root {
  --beige: #f5f1e5;
  --rot: #c02a2a;
  --schwarz: #000000;
}

body {
  background-color: var(--beige);
}

/* Container für die Startseite */
#startseite {
  position: relative;
  height: 100vh;
}

/* Hintergrundbild geht über die gesamte Höhe des Bildschirms */
#sprung {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Titel und Untertitel liegen über dem Hintergrundbild */
#titel {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--beige);
  font-family: "Noto Sans", sans-serif;
  font-size: 5vw;
}

#untertitel {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--beige);
  font-family: "Noto Sans", sans-serif;
  font-size: 2vw;
}

/* Schwimmsäcke */
/* Fünf Schwimmsäcke werden über das Startbild verteilt und je nach Wassertemperatur ein- oder ausgeblendet (siehe JavaScript File) */
#schwimmsack01 {
  position: absolute;
  top: 48%;
  left: 15%;
  width: 13vw;
  transform: translate(-50%, -50%) rotate(-20deg);
}

#schwimmsack02 {
  position: absolute;
  top: 65%;
  left: 35%;
  transform: translate(-50%, -50%) rotate(20deg);
  width: 13vw;
}

#schwimmsack03 {
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(-14deg);
  width: 13vw;
}

#schwimmsack04 {
  position: absolute;
  top: 70%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(-20deg);
  width: 13vw;
}

#schwimmsack05 {
  position: absolute;
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%) rotate(20deg);
  width: 13vw;
}

/* Klasse zum Ausblenden der Schwimmsäcke (wird über das JavaScript hinzugefügt, bzw. entfernt) */
.unsichtbar {
  display: none;
}

/* aktuelle Werte */

/* Rote Kreise für die Anzeige der aktuellen Werte (Wassertemperatur, Lufttemperatur, Wassermenge) */
.kreis {
  width: 21vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 1rem;
  background: var(--rot);
  color: var(--beige);
  font-family: "Noto Sans", sans-serif;
  font-size: 4vw;
  font-weight: 600;
}

/* Container für die aktuellen Werte (zentriert) */
.aktuelleWerte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aktuelleWerte h3 {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  padding-top: 8%;
  font-size: 2.3vw;
  font-weight: 700;
}

#wassermengeUmwandlung h3 {
  font-size: 2.3vw;
}

/* Die drei Kreise mit aktuellen Werten werden horizontal nebeneinander angezeigt */
#aktuelleDaten {
  display: flex;
  gap: 3%;
  padding: 8% 8%;
  justify-content: space-around;
}

/* Roter Bereich, der die Wassermenge in Badewannen umrechnet */
#wassermengeUmwandlung {
  background: var(--rot);
  display: block;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  padding: 8% 0%;
}

#wassermengeUmwandlung h1 {
  font-size: 4vw;
  font-weight: 600;
}

#badewanne {
  width: 50%;
}

/* Container für den Fisch-Bereich, und die Charts */
#fisch,
#luftUndWasserChart,
#wasserMenge {
  display: block;
  text-align: center;
  padding: 4%;
  font-family: "Noto Sans", sans-serif;
}

#fisch div {
  position: relative;
}

/* Überschriften */
#fisch h1,
#luftUndWasserChart h1,
#wasserMenge h1 {
  font-size: 4vw;
}

#fisch h3 {
  padding: 1%;
  font-size: 2.3vw;
}

/* Roter Kreis hinter dem Fisch */
#kreisFisch {
  position: absolute;
  top: 50%;
  width: 25vw;
  aspect-ratio: 1 / 1;
  background-color: var(--rot);
  border-radius: 50%;
  z-index: 1;
}

/* Fischbild mit Wackel-Animation (Fischbild wird im JS Dokument je nach Wassertemperatur geändert) */
#fischAktuell {
  position: absolute;
  top: 50%;
  left: -110%;
  width: 40vw;
  z-index: 2;
  transform: scaleX(-1);
  animation: wiggle 2s ease-in-out infinite;
  transform-origin: center center;
}

/* Container für Charts (Wassermenge und Luft- und Wassertemperatur) */
#wasserMenge,
#luftUndWasserChart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 80vw;
  margin: 0 auto;
}

/* Wackel-Animation für den Fisch */
@keyframes wiggle {
  0%,
  100% {
    transform: translate(50%, -60%) scaleX(-1) rotate(0deg);
  }
  25% {
    transform: translate(50%, -60%) scaleX(-1) rotate(3deg);
  }
  75% {
    transform: translate(50%, -60%) scaleX(-1) rotate(-3deg);
  }
}

/* Container für das Fischbild mit senkrechtem Strich und Fischnamen */
#fischBild {
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

/* Fischname unter dem Bild (der entsprechende Name wird über das JavaScript eingefügt) */
#fischBild p {
  font-size: 1.2em;
  margin-top: 20%;
}

/* Vertikaler Strich unter dem Fisch */
#fischBild::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 45%;
  width: 2px;
  height: 2.2rem;
  background: var(--schwarz);
  z-index: 2;
  margin-top: 50%;
}

/* Nebeneinander-Anordnung des Fischbild (links) und Beschreibungstext (rechts) */
.fischbox {
  display: flex;
  gap: 15%;
  align-items: center;
  padding: 5%;
}

/* Beschreibungstext zum Fisch (der entsprechende Text wird über das JavaScript eingefügt) */
#fischText {
  text-align: left;
  font-size: 1.4em;
}

/* Abstand zwischen der Überschrift und den Charts (Diagramme) */
#luftUndWasserChart h1,
#wasserMenge h1 {
  margin-bottom: 3%;
}

/* Canvas-Elemente für die beiden Charts (Wasser- und Lufttemperatur und Wassermenge) */
#areaChart,
#balken {
  margin: 3% auto 0;
  display: block;
  width: 100%;
  height: 40vh;
  min-height: 20rem;
}

/* Responsive Design, damit der Seiteninhalt auf verschiedenen Screengrössen ansprechend angezeigt wird */
/* Anpassungen für Screens unter 1800px */
@media only screen and (max-width: 1800px) {
  #sprung {
    height: 100%;
  }
}

/* Anpassungen für Screens unter 1450px Breite */
@media only screen and (max-width: 1450px) {
  #fischBild p {
    margin-top: 25%;
  }

  #fischAktuell {
    top: 45%;
    left: -115%;
  }
}

/* Anpassungen für Screens unter 1100px Breite */
@media only screen and (max-width: 1100px) {
  #fischBild p,
  #fischText {
    font-size: 1.2em;
  }

  #fischBild p {
    margin-top: 20%;
  }

  #fischBild::after {
    top: 42%;
  }
}

/* Anpassungen für Screens unter 1065px Breite */
@media only screen and (max-width: 1065px) {
  #fischBild::after {
    height: 1.8rem;
  }
}

/* Anpassungen für Screens unter 910px Breite */
@media only screen and (max-width: 910px) {
  #startseite {
    height: 100%;
  }

  #titel {
    font-size: 6vw;
  }
  #untertitel,
  #fisch h3 {
    font-size: 3vw;
  }

  #fischBild::after {
    height: 1.5rem;
  }
}

/* Anpassungen für Screens unter 710px Breite*/
@media only screen and (max-width: 710px) {
  #fischBild p,
  #fischText {
    font-size: 1em;
  }

  .aktuelleWerte h3,
  #wassermengeUmwandlung h3 {
    font-size: 0.8em;
    margin: 5%;
  }
}

/* Anpassungen für Screens unter 650px Breite */
@media only screen and (max-width: 650px) {
  #fischBild::after {
    height: 1.3rem;
  }
}

/* Anpassungen für Screens unter 560px Breite */
@media only screen and (max-width: 560px) {
  #untertitel,
  #fisch h3 {
    font-size: 3.1vw;
  }

  /* Schwimmsäcke für kleinere Screens neu positionieren */
  #schwimmsack03 {
    top: 45%;
    left: 45%;
  }

  #schwimmsack05 {
    top: 50%;
    left: 75%;
  }

  .kreis {
    font-size: 3.2vw;
  }

  /* Fischbox wird von horizontal auf vertikal umgestellt */
  .fischbox {
    display: block;
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: translate(0%, 0%) scaleX(-1) rotate(0deg);
    }
    25% {
      transform: translate(0%, 0%) scaleX(-1) rotate(3deg);
    }
    75% {
      transform: translate(0%, 0%) scaleX(-1) rotate(-3deg);
    }
  }

  /* Fischbild vertikal zentrieren */
  #fischBild {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #fischBild::after {
    height: 1.5rem;
    margin-top: 13%;
  }

  #fischBild p {
    margin-top: 12%;
    margin-bottom: 5%;
  }

  #fischAktuell {
    left: 25%;
    top: 0%;
  }

  /* Aktuelle Werte (rote Kreise) vertikal statt horizontal stapeln */
  #aktuelleDaten {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  #areaChart,
  #balken {
    height: 50vw;
    min-height: 15rem;
  }
}

/* Anpassungen für Screens unter 500px Breite */
@media only screen and (max-width: 500px) {
  #wasserMenge {
    margin: 20% auto;
  }
}

/* Anpassungen für Screens unter 420px Breite */
@media only screen and (max-width: 420px) {
  #fisch {
    margin: 5% 0%;
  }

  #fischBild p {
    margin-top: 16%;
  }

  #fischBild::after {
    height: 1.3rem;
    margin-top: 11%;
  }
}
